.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.p-secondary {
  color: #999;
}
.tag-m {
  background: #fff;
  color: #45c79f;
  border: 1px solid #45c79f;
  padding: 5px 10px;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
}
i[class^="ico_"] {
  padding-right: 5px;
}
.booking-msg h5 {
  color: #999;
}
.booking-msg dl {
  *zoom: 1;
}
.booking-msg dl:before,
.booking-msg dl:after {
  display: table;
  line-height: 0;
  content: "";
}
.booking-msg dl:after {
  clear: both;
}
.booking-msg dl dt {
  float: left;
}
.booking-msg dl dd {
  float: right;
}
.booking-msg .booking-date {
  font-size: 16px;
}
.rmb:before {
  content: '￥';
  font-size: 14px;
}
.total-price {
  border-top: 1px dashed #999;
  padding-top: 10px;
  font-size: 16px;
  color: #999;
}
.total-price .rmb {
  color: #ff6666;
  font-size: 18px;
}
.required-field:before {
  content: "*";
  color: #ff5151;
  font-size: 18px;
  vertical-align: top;
  padding: 0 3px;
}
.btn.btn-code {
  padding: 6.5px 12px;
  color: #33cc66;
  background-color: #fff;
  border-color: #ccc;
}
.btn.btn-codeimg {
  padding: 2px 12px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
}
.dashed-btm {
  border-bottom: 1px dashed #ccc;
}
.solid-btm {
  border-bottom: 1px solid #ccc;
}
.panel-body.dashed-btm {
  margin: 0 10px;
}
.orderlist-total {
  background: #666;
  color: #fff;
  height: 4.5rem;
  line-height: 4.5rem;
}
.orderlist-total .btn-booking {
  background: #ff6666;
  color: #fff;
  padding: 0 12px;
  text-decoration: none;
}
.orderlist-total .rmb.pull-left {
  font-size: 20px;
  padding: 0 12px;
}
.bd-section {
  border: 1px solid #ccc;
}
.bd-section .orderlist-total {
  margin: 0 -1px 0 -1px;
}
.rules-box {
  padding: 5px 10px;
  max-height: 15rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.rules-box p {
  color: #999;
}
.user-profile {
  *zoom: 1;
  padding: 12px 0;
}
.user-profile:before,
.user-profile:after {
  display: table;
  line-height: 0;
  content: "";
}
.user-profile:after {
  clear: both;
}
.user-profile i[class^="ico_"] {
  font-size: 5rem;
  color: #45c79f;
}
.user-profile .h4 {
  color: #333;
}
.user-profile h5 {
  color: #666;
}
.user-profile > .pull-left {
  margin-right: 15px;
}
.orderlist-info {
  color: #666;
}
.orderlist-info .page-header {
  margin: 0;
  padding: 0;
  color: #666;
}
.orderlist-info .page-header h4 {
  font-weight: bold;
}
.orderlist-info .page-header h5 {
  color: #666;
}
.orderlist-info .page-header ~ * {
  padding-left: 15px;
}
.orderlist-info dl {
  *zoom: 1;
  margin: 15px auto;
}
.orderlist-info dl:before,
.orderlist-info dl:after {
  display: table;
  line-height: 0;
  content: "";
}
.orderlist-info dl:after {
  clear: both;
}
.orderlist-info dl dt,
.orderlist-info dl dd {
  float: left;
}
.orderlist-info dl dt {
  width: 8rem;
  font-weight: normal;
}
.expenses-list .row {
  margin: 0 10px 10px;
}
.expenses-list .row.dashed-btm {
  padding-bottom: 15px;
}
.expenses-list h5 ~ * {
  text-indent: .2em;
}
.expenses-list .expenses-list-total {
  text-indent: 0;
}
.orderlist-group .list-group-item {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.orderlist-group .list-group-item:hover,
.orderlist-group .list-group-item:focus {
  background-color: #f3f5f6;
}
.orderlist-group .list-group-item.active {
  background: #e5e9eb;
  color: #45c79f;
}
.orderlist-group .list-group-item:after {
  content: "";
  width: 96%;
  height: 1px;
  display: block;
  background: #ddd;
  position: absolute;
  left: 2%;
  bottom: 0;
  z-index: 2;
}
.orderlist-group .list-group-item:last-child:after {
  background: transparent;
}
.badge.badge-warn {
  background-color: #ff8500;
}
.badge.badge-dang {
  background-color: #ff5151;
}
.rules-title {
  padding: 0 15px;
}
.hintmsg {
  margin: 8px auto;
}
.search-bar {
  margin-bottom: 20px;
}
.search-bar .navbar-form {
  border: none;
  margin-left: 10px;
  padding: 0;
}
.search-bar .navbar-form .input-group .input-group-btn .btn {
  border-radius: 15px;
}
.search-bar .navbar-form .input-group .input-group-btn .btn:hover,
.search-bar .navbar-form .input-group .input-group-btn .btn:focus {
  background-color: transparent;
}
.search-bar .navbar-form .input-group .input-group-btn .glyphicon {
  color: #45c79f;
}
.search-bar .navbar-form .input-group input[type="text"] {
  border-radius: 15px;
}
.search-bar .navbar-form .input-group input[type="text"].form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-bar .navbar-form .input-group input[type="text"].form-control + .input-group-btn .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-bar .orderlist-link {
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.search-bar .orderlist-link.btn {
  color: #45c79f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.search-bar .orderlist-link.btn:hover,
.search-bar .orderlist-link.btn:focus {
  color: #59cda9;
}
.nav-tabs {
  border: none;
  padding: 0 15px;
}
.nav-tabs li {
  margin-bottom: 0;
}
.nav-tabs li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #333;
  border: none;
}
.nav-tabs li.active a {
  border: none;
  color: #45c79f;
  background-color: #eee;
}
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
  background-color: #eee;
  color: #45c79f;
  border: none;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  color: #45c79f;
}
.navbar-yoo {
  background-color: #f8f8f8;
  border-color: #45c79f;
}
.navbar-yoo + * {
  margin-top: 150px;
}
.navbar-fixed-top {
  border-width: 0 0 2px;
}
.nav-tabs-hltinline {
  border-bottom: 1px solid #ddd;
  margin-left: -15px;
  margin-right: -15px;
}
.nav-tabs-hltinline > li {
  float: left;
  margin-bottom: -0.5px;
}
.nav-tabs-hltinline > li > a {
  line-height: 1.5;
  border-bottom: 2px solid transparent;
  color: #666;
  padding: 10px 30px;
  font-size: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
}
.nav-tabs-hltinline > li > a:hover,
.nav-tabs-hltinline > li > a:focus {
  color: #45c79f;
  background-color: transparent;
  border-bottom: 2px solid #45c79f;
  cursor: pointer;
}
.nav-tabs-hltinline > li.active > a {
  color: #45c79f;
  border-bottom: 2px solid #45c79f;
  cursor: pointer;
}
.item-section .dashed-btm .row {
  padding: 15px 0 5px;
}
.orderlist-item {
  padding: 15px 0;
}
.orderlist-item .media img {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.orderlist-item .media .media-body {
  color: #666;
}
.orderlist-item .media .media-body span {
  position: absolute;
  bottom: 0;
}
.orderlist-item .col-xs-2 {
  padding-right: 20px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.4;
  text-decoration: none;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #666;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #45c79f;
  border-color: #45c79f;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ccc;
  background-color: #f2f2f2;
  border-color: #ddd;
  cursor: not-allowed;
}
.filter-bar {
  padding: 15px 10px 0;
}
.filter-bar .form-group [class^="col-"] {
  padding: 0 5px;
}
.filter-bar .form-group [class^="col-"].control-label {
  padding-top: 7px;
}
.filter-bar .line-s[class^="col-"] {
  width: auto;
}
@media (max-width: 750px) {
  .navbar-yoo + * {
    margin-top: 110px;
  }
  .search-bar {
    margin-bottom: 0;
  }
  .orderlist-total {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
  }
  .rules-wrap {
    margin-bottom: 80px;
  }
  .nav-tabs-hltinline > li {
    padding: 0;
    width: 25%;
  }
  .nav-tabs-hltinline > li a {
    padding: 5px 2px;
    box-sizing: border-box;
  }
  .user-profile {
    padding: 0 15px;
  }
}
